.tags-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    min-height: 40px;
    padding: 0 85px 5px 10px;
    background-color: white;
}

.tags-container h3{
    display: flex;
    margin: 0;
    order: 1;
}

.tags-container a{
    order: 2;
    margin: 5px;
}

.tags-container span{
    background-color: #eee;
    color: #777 !important;
    /* margin: 5px; */
    padding: 2px 5px 2px 5px;
    /* order: 2; */
    transition: 0.2s;
}

.tags-container span:hover{
    background-color: #777;
    color: white !important;
    cursor: pointer;
}

.share-report{
    width: 75px;
    padding: 5px 10px 5px 5px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    right: 0;
    top: 0;
}

#share-btn, #report-btn{
    color: black;
    cursor: pointer;
    transition: 0.2s;
}

#share-btn:hover{
    color: rgb(73, 124, 218);
}

#report-btn:hover{
    color: rgb(218, 114, 73);
}

#report-form{
    max-width: 400px;
    padding: 0 15px 0 15px;
    margin: 0 auto;
}

#report-form input,textarea{
    margin: 5px auto;
    width: 100%;
    border: none;
    font: 1.3em;
    font-weight: 700;
}

#report-form input{
    height: 25px;
}

.report-form-btn, .report-form-btn-disabled{
    min-width: 100%;
    margin: 5px auto;
    text-align: center;
    padding: 5px 0;
    font-weight: 700;
    border: none;
}

.report-form-btn{
    background-color: #eee;
    color: #777;
    cursor: pointer;
    transition: 0.2s;
}

.report-form-btn:hover{
    color: white;
    background-color: #777;
}

.report-form-btn-disabled{
    background-color: rgb(168, 168, 168);
    color: rgb(54, 54, 54);
}

.customModal {
    background: #ffc145 !important;
}

@media (min-width: 570px) {
    .share-report{
        flex-basis: 15%;
        order: 3;
    }
}
