.tags-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: gold;
    position: relative;
    padding-right: 85px;
}

.tags-container h3{
    display: flex;
    margin: 0;
    order: 1;
}

.tags-container span{
    background-color: gainsboro;
    margin: 5px;
    padding: 5px;
    order: 2;
}

.share-report{
    width: 75px;
    padding: 5px;
    background-color: greenyellow;
    position: absolute;
    display: flex;
    justify-content: space-between;
    right: 0;
    top: 0;
}

@media (min-width: 570px) {
    .share-report{
        flex-basis: 15%;
        order: 3;
    }
}
