.wordcloud-container{
    width: 100%;
    min-height: 500px;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.selected{
    color: #0d315e;
    border-bottom: 4px solid #0d315e;
    font-weight: 600 !important;
}
.selected:hover{
    border-bottom: 4px solid #6886ae;
}

.wordcloud-toolbar{
    background-color: white;
    width: 100%;
    display: flex;
    color: #777;
    align-self: flex-start;
}

.wordcloud-button{
    padding: 5px 0 4px 0;
    margin: 0 10px 0 10px;
    cursor: pointer;
}

.wordcloud-button:hover{
    color: #6886ae;
}

#chart-container{
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 95%;
}

#disclaimer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cf6061;
    font-size: 0.8em;
    padding: 5px 17px 5px 17px;
    margin: 5px 0 10px 0;
    color: white;
    position: relative;

}

#disclaimer{
    padding:0px 10px 0px 5px;
}

#disclaimer-close{
    position: absolute;
    top: -3px;
    right: -3px;
    line-height: 50%;
    font-size: 1em;
    color: #770d0e;
    cursor: pointer;
    transition: .2s;
}

#disclaimer-close:hover{
    color: #ffe8e8;
}

#disclaimer-click{
    font-weight: 700;
    color: #ffe8e8;
    cursor: pointer;
    transition: .2s;
}

#disclaimer-click:hover{
    color: #661616;
}
