.customModal-share {
    background: white !important;
    color: #0e2138;
}

#modal-share{
    padding-top: 10px;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.twitter-icon{
    color: #1da1f2;
}
.facebook-icon{
    cursor: pointer;
    color: #1877f2;
}

.reddit-icon{
    color: #ff4500;
}

.whatsapp-icon{
    color: #25d366;
}

.telegram-icon{
    color: #0088cc;
}