.search-banner{
    max-width: 100%;
    padding-top: 40px;
    /* background-color: #203e63; */

/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#26405e+0,183860+100 */
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#28405b+0,092f5e+100 */
background: #28405b; /* Old browsers */
background: -moz-linear-gradient(top,  #28405b 0%, #092f5e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #28405b 0%,#092f5e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #28405b 0%,#092f5e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28405b', endColorstr='#092f5e',GradientType=0 ); /* IE6-9 */




    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.alphabet{
    flex-basis: 100%;
    display: none;
    margin: 5px 0 15px 0;
    padding: 0 5px 0 5px;
    justify-content: space-around;
    height: 21px;
}

.alphabet a{
    text-decoration: none;
    color: #a2b6ce;
    font-weight: 500;
    flex-grow: 1;
    text-align: center;
    transition: 0.1s;
    font-family: "Oswald";
}

.alphabet a:hover{
    color: #ffc145;
    font-size: 1.2em;
}

.search-container{
    width: 100%;
    padding: 15px 15px 0 15px;
    background-color: #ffc145;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.input-container{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(233, 233, 233);

}

.input-container button{
    border:none;
}

.search-banner input{
    height: 30px;
    border: none;
    font-size: .9em;
    padding: 0 0 0 5px;
    width: 90%;
}

.search-icon{
    display: flex;
    width: 8%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 30px;
    padding: 0 2px 0 5px;
    background-color: rgb(220,220,220);
    transition: 0.2s;
}

.search-icon:hover{
    background-color: #777;
    color: white;
}

.fake-bar{
    /* height: 35px; */
    background-color: #ffc145;
    max-width: 550px;
    margin: 0 auto;
}

.genres-container{
    padding: 8px 15px 8px 15px;
}

.main-genres{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.main-genres a{
    text-decoration: none;
}

.more-genres{
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.genre{
    background-color: #eee;
    color: #777;
    padding: 0px 5px 2px 5px;
    margin: 2px;
    transition: 0.2s;
    cursor: pointer;
}

.more-genres .genre{
    margin: 5px !important;
}

.genre:hover{
    background-color: #777;
    color: white;
}

#see-all-genres{
    flex-basis: 100%;
    text-align: center;
    font-weight: 600;
    margin: 10px;
}

#see-all-genres a, #see-all-genres a:visited, #see-all-genres a:active{
    color: #885e0a !important;
}

#show-genres, #hide-genres{
    cursor: pointer;
    color: #885e0a !important;
}

#hide-genres{
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    padding: 8px 0 8px 0;
    margin: 2px 0 2px 0;
}

.g0, .g1, .g2, .g3{
    display: none;
}

@media (min-width: 550px) {
    .alphabet{
        display: flex;
    }

    .search-banner input{
        font-size: 1.3em;
    }

    .search-container{
        width: 520px;
    }
}

@media (min-width: 370px){
    .search-banner input{
        font-size: 1.3em;
    }
}

@media (min-width: 333px){
    .g0{
        display: inline-block;
    }
}

@media (min-width: 386px){
    .g1{
        display: inline-block;
    }
}

@media (min-width: 424px){
    .g2{
        display: inline-block;
    }
}

@media (min-width: 522px){
    .g3{
        display: inline-block;
    }
}