nav{
    background-color: #0a62d0;
    color: #95c5ff !important;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.navbar{
    margin: 0 auto;
    max-width: 1100px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    font-size: .9em;
    font-weight: 500;
    font-family: "Oswald";
    text-transform: uppercase;
}

.mobile-nav{
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.mobile-nav span{
    flex-basis: 100%;
    text-align: center;
    padding-top: 4px;
    margin: 1px 5px 5px 5px;
    cursor: pointer;
    border-top: 1px solid #95c5ff;
}

.mobile-nav span:hover{
    color: #0c315e !important;
}

.navbar-list{
    list-style: none;
    margin: 0;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    display: none;
}

.menu-icon{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}

.menu-icon span{
    padding: 2px 5px 0 5px;
    margin: 0 5px 0 5px;
    cursor: pointer;
}

.navbar-logo, .navbar-list li{
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.navbar-list li:hover, .mobile-nav span:hover a{
    color: #0c315e !important;
}

.navbar-list a, .mobile-nav a{
    text-decoration: none !important;
    color: #95c5ff !important;
}
.navbar-list a:visited, .mobile-nav a:visited{
    color: #95c5ff !important;
}

.lang-flag{
   margin-left: 3px;
}

.lang-btn{
    cursor: pointer;
}

.lang-btn:hover{
    transform: translate(-1px,-1px);
    box-shadow: 1px 1px 2px #0d2f58;
}

@media (min-width: 550px) {
    .navbar-list{
        display: flex;
    }
    .menu-icon{
        display: none;
    }
}
