.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* ////////////////////////////////////// */

.container {
    background-color: #555;
    max-width: 700px;
    margin: 0 auto;
}

@media (min-width: 450px) {
    .container {
        display: flex;
    }
    .songs-analyzed, .words-analyzed {
        justify-content: flex-start !important;
        flex-basis: auto !important;
    }
    .artist-header {
        justify-content: flex-start !important;
    }
    .like-share{
        justify-content: flex-end !important;
    }
}

.imagem-container {
    background-color: black;
    display: flex;
    justify-content: center;
}

.imagem {
    background-color: green;
    width: 150px;
    height: 150px;
}

.artist-info {
    background-color: yellow;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.artist-header {
    background-color: red;
    flex-basis: 60%;
    display: flex;
    justify-content: center;
}

.artist-title {
    display: flex;
    align-items: center;
}

.artist-footer {
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 40%;
    
}

.songs-analyzed {
    background-color: purple;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    min-width: 195px;
    flex-basis: 100%;

}

.words-analyzed {
    background-color: violet;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    min-width: 195px;
    flex-basis: 100%;
}

.like-share{
    background-color: goldenrod;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}