.accordion {
    background-color: #ffc145;
    color: #7b5200;
    cursor: pointer;
    width: 100%;
    transition: 0.2s;
    display: flex;
    align-items: center;
    padding: 10px 0 10px 0;
    font-weight: 700;
  }

  .accordion div{
    font-size: 15px;

  }

  .accordion-title{
    flex-grow: 1;
    padding-left: 10px;
  }

  .see-more{
    display: flex;
    align-items: center;
    padding-right: 5px;
  }

  .active, .accordion:hover {
    background-color: #d19620;
  }
  
  .panel {
    display: none;
    background-color: #ffc145;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
  }

  .panel span{
    background-color: #eee;
    color: #777 !important;
    cursor: pointer;
    margin: 5px;
    padding: 0 5px 0 5px;
    order: 2;
    transition: 0.2s;
}

.panel span:hover{
  background-color: #777;
  color: white !important;
}